[Desktop Entry]
Name=cherry-midnight
X-KDE-PluginInfo-Author=nullxception
X-KDE-PluginInfo-Email=enuma.alrizky@gmail.com
X-KDE-PluginInfo-Name=cherry-midnight-plasma
X-KDE-PluginInfo-Version=1.6
X-KDE-PluginInfo-Website=https://github.com/nullxception/cherry-kde
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL 3.0
X-KDE-PluginInfo-EnabledByDefault=true

[ContrastEffect]
enabled=false
contrast=0.2
intensity=0.4
saturation=1.7

[Wallpaper]
defaultWallpaperTheme=cherry
defaultFileSuffix=.png
defaultWidth=1920
defaultHeight=1080
