[Desktop Entry]
Name=cherry-square
X-KDE-PluginInfo-Author=Nauval Rizky
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=enuma.alrizky@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL v3
X-KDE-PluginInfo-Name=cherry-square-aurorae
X-KDE-PluginInfo-Version=1.4
