[Desktop Entry]
Name=cherry
X-KDE-PluginInfo-Name=cherry-wallpaper
X-KDE-PluginInfo-Author=Nauval Rizky
X-KDE-PluginInfo-Email=enuma.alrizky@gmail.com
X-KDE-PluginInfo-License=CC BY-NC-SA 3.0
X-KDE-PluginInfo-Version=1.6
